
<div>
    <p>
     Full name : <%= current_user.full_name %>
    </p>
    <p>Address: <%=current_user.address %>  </P>
    <p>Phone: <%=current_user.phone %>  </P>
    <p>Email: <%=current_user.email %>  </P>
    <p>Username: <%=current_user.username %>  </P>
</div>